In [16]:
import pandas as pd
import numpy as np

In [28]:
dataset = pd.read_csv("dataset.txt", delimiter="|", encoding="ISO-8859-1", index_col="AutoID")
dataset.head()

,Date,Year,Month,MediaType,FullText
AutoID,,,,,
1,8/26/2015,2015,8,twitter,3 ways the internet of things will change Bank...
2,8/5/2015,2015,8,twitter,BankB BankB Name downgrades apple stock to neu...
3,8/12/2015,2015,8,twitter,BankB returns to profit on INTERNET/! board2? ...
4,8/5/2015,2015,8,twitter,BankB tells advisers to exit paulson hedge fun...
5,8/12/2015,2015,8,twitter,BankC may plead guilty over foreign exchange p...

In [38]:
dataset["FullTextLen"] = dataset["FullText"].apply(len)
dataset["BankA"] = dataset["FullText"].apply(lambda x: x.find("BankA"))
dataset["BankB"] = dataset["FullText"].apply(lambda x: x.find("BankB"))
dataset["BankC"] = dataset["FullText"].apply(lambda x: x.find("BankC"))
print(dataset.groupby("MediaType").count())
print(dataset.groupby("MediaType").mean())

             Date    Year   Month  FullText  FullTextLen   BankA   BankB  \
MediaType
facebook    83647   83647   83647     83647        83647   83647   83647
twitter    136730  136730  136730    136730       136730  136730  136730

            BankC
MediaType
facebook    83647
twitter    136730
                 Year     Month  FullTextLen      BankA      BankB      BankC
MediaType
facebook   2014.35755  7.594869   173.643932  22.667543  20.473741  11.358040
twitter    2015.00000  8.000000   100.969312   8.184539   7.506275   5.143085